# Dependencies
node_modules/
package-lock.json
package.json

# OS / Editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Local dev artifacts
.cache/
.parcel-cache/
dist/
build/
